* {
  margin: 0;
  background-color: rgb(44, 44, 44);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* margin: 100px, 0; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  color: rgb(14, 95, 150);
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.crypto_search {
  outline: none;
  border: none;
  -webkit-box-shadow: 1px 10px 12px -4px rgba(0, 0, 0, 0.79);
  box-shadow: 1px 10px 12px -4px rgba(0, 0, 0, 0.79);
  width: 50vw;
  height: 30px;
  color: white;
  border-radius: 5px;
  margin: 10px 0;
  background-image: linear-gradient(-225deg, rgb(32, 32, 32), rgb(13, 59, 90));
}

.crypto_search::placeholder {
  color: white;
}
